*{
    margin: 0;
    padding: 0;
    font-family:'Fira Sans', sans-serif ;

}
body {width: 90%;
    height: 50%;
    background-image: url(https://th.bing.com/th/id/Rd62fc4e4731e208c7e292c3b003604ab?rik=pXI18F%2bnJ12JaQ&riu=http%3a%2f%2fwww.newhealthadvisor.com%2fimages%2f1HT01689%2fcool-water.png&ehk=OiVqugKaEgVd%2bhiIOkSa7kbbQfYBGxukT%2f5RwMVXESQ%3d&risl=&pid=ImgRaw);

}
