

body table
 {margin-left:330px;
    border-style:solid;
    color: a1cae2;
    border-collapse: collapse;} 




table th {border: 4.5px;
    border-style:solid;
    color :c2b092}


body{
     background-color:eae3c8 ;}
a {min-height:10px ; 
    color:c2b092;
   font-size: 50px;
   font-weight: bold;
   margin-left:200;
   margin-bottom: 100;
   margin-top: 10;}

header {background-color:c2b092;
     min-height: 100;}

form fieldset {width: 10cm;

height: 6cm;
margin-left:12cm ;
background-color:rgb(53, 149, 187);}












/*table{

    border: 2px solid black;

}*/























/*th ,tr, td{
    
    border: 1px solid black ;
    width: 50px;
    height: 50px;
}

 .li1{ 
     color: rgb(8, 8, 107);
     font-size: larger;
     
     

}
  .op{
      color: rgba(4, 13, 24, 0.349);
      font-size: medium;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}